venv/
env/

# Python
__pycache__/
*.pyc

# Banco de Dados
db.sqlite3
*.sqlite3

.env

# Mídia (Uploads de usuários - fotos de perfil, etc.)
media/

# Node (eu vi que você tem essa pasta)
node_modules/

# Arquivos de IDE (ex: VSCode)
.vscode/

