        .map-container {
            height: 400px;
            background-color: #e5e7eb;
        }
        .tab-content {
            display: none;
        }
        .tab-content.active {
            display: block;
        }
        .rating-stars {
            color: #f59e0b;
        }
        #map {
            width: 100%;
            height: 100%;
        }
